*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font=> font-family: 'Poppins', sans-serif; */
:root{
   --texto-header-:'Poppins', sans-serif;
}
.header{
    overflow: hidden;
    width: 100%;
    height: 50%;
    background-color: #002B5B;

    
}
.contenedor figure img{
 width: 50px;


}

.contenedor {
    display: flex;
    justify-content: space-between;
    height: 75px;
    overflow: hidden;
    width: 90%;
    align-items: baseline;
    margin: auto;
}

.nav__ref{
    display: inline-block;
    overflow: hidden;
    justify-content: center;
    
}

.nav .nav__ref a{
    color: aliceblue;
    font-family: var(--texto-header-);
    margin: 0px 8px;
   
}


.hero img{
    width: 100%;
    height: 50%;
    
}
.nav button{
    margin: 0px 8px;
    background-color: white;
    color: #002B5B;
    padding: 7px 7px;
    border-radius: 8px;
    border-color: white;
}



